<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.intervyaz.viewintro">

    <application
        android:allowBackup="true"
        android:icon="@drawable/menu"
        android:label="ProjectBottomMenu"
        android:roundIcon="@drawable/menu"
        android:supportsRtl="true"
        android:theme="@style/Theme.ViewIntro">
        <service
            android:name=".service.music"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>